<header>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">World Map</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/country">Country Data</a></li>
            <li><a href="/city">City Data</a></li>
            <li><a href="/language">Language</a></li>
        </ul>
    </nav>
</header>
