<header>
  <h1><%= title %></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/continent">Continent</a></li>
      <li><a href="/country">Country</a></li>
      <li><a href="/city">City</a></li>
    </ul>
  </nav>
</header>
