<header>
<<<<<<< HEAD
  <h1><%= title %></h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/country">Country</a></li>
      <li><a href="/city">City</a></li>
      <li><a href="/continent">Continent</a></li>
      <li><a href="/govermentforms">Govermentforms</a></li>
      <li><a href="/language">Language</a></li>
      <li><a href="/admin">Admin Area</a></li>
    </ul>
  </nav>
=======
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/country">Country</a></li>
            <li><a href="/city">City</a></li>
            <li><a href="/continent">Continent</a></li>
            <li><a href="/govermentforms">Govermentforms</a></li>
            <li><a href="/language">Language</a></li>
            <li><a href="/admin">Admin Area</a></li>
        </ul>
    </nav>
>>>>>>> 5f098080a0e534fe734e78deef6b90f8c4d3c57f
</header>
