<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <%- include('includes/scheama'); -%>
    </head>
    <body>
        <%- include('includes/menu'); -%>
        <main>
          <table>
               <tr><th>Land:</th></tr>
                <% var options = []; %> <% for(var i = 0; i < showcountry.length; i++) { %>
                <tr><td><%= showcountry[i].name %></td></tr>
                <% } %>

          </table>
        </main>
    </body>
</html>
