<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('includes/scheama'); -%>
  </head>
  <body>

    <%- include('includes/menu'); -%>

    <main>
      <h2>Start by Choosing a Continent</h2>
      <div id="continents">
        <h3>Continents</h3>
        <div id="contdata"></div>
        <button id="gcont">Show Continents</button>
      </div>


      <div id="countries">
        <div id="countdata">
          <h3>Countries</h3>
        </div>
      </div>
      
      <div id="cities">
        <div id="citydata">
          <h3>Cities</h3>
        </div>
      </div>

      <div id="data">
        <div id="citydata">
          <h3>City Data</h3>
        </div>
      </div>
    </main>
        
    </form>
  </body>
</html>
