<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('includes/menu'); -%>

    <div class="countries">
      <% for(var i = 0; i < country.length; i++) { %>
        <%= country[i].name %></br>
      <% } %>
    </div>
  </body>
</html>
