<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/js/modules/nQuery.js"></script>
    </head>
    <body>
        <%- include('includes/menu'); -%>

        <main>
            <center>
                <h1>Country Added!</h1>
                <button style="width: 20%;"><a style="text-decoration: none; color: white;" href="/">Home</a></button>
                <button style="width: 20%;"><a style="text-decoration: none; color: white;" href="/create">Create new data</a></button>
            </center>
        </main>
    </body>
</html>
